//colors
$alice_blue: #f0f8ff;
$color_christine_approx: #f0600c;
$color_calypso_approx: #35728e;
$color_hit_pink_approx: #1df5f5;
$color_dew_approx: #f0ffff;
$white: #ffffff;
$color_nile_blue_approx: #14455c;
//fonts
$font_0: Roboto;
$font_1: sans-serif;
$font_2: Advent Pro;
//urls
$url_0: url(../images/img1.jpg);
$url_1: url(../images/img2.jpg);
//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}

html {
    @extend %extend_1;
}

body {
    @extend %extend_1;
    width: 100%;
    font-family: $font_0, $font_1;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div {
    @extend %extend_1;
}

span {
    @extend %extend_1;
}

applet {
    @extend %extend_1;
}

object {
    @extend %extend_1;
}

iframe {
    @extend %extend_1;
}

h1 {
    @extend %extend_1;
}

h2 {
    @extend %extend_1;
}

h3 {
    @extend %extend_1;
}

h4 {
    @extend %extend_1;
}

h5 {
    @extend %extend_1;
}

h6 {
    @extend %extend_1;
}

p {
    @extend %extend_1;
}

blockquote {
    @extend %extend_1;
}

pre {
    @extend %extend_1;
}

a {
    @extend %extend_1;
    color: $color_christine_approx;
}

abbr {
    @extend %extend_1;
}

acronym {
    @extend %extend_1;
}

address {
    @extend %extend_1;
}

big {
    @extend %extend_1;
}

cite {
    @extend %extend_1;
}

code {
    @extend %extend_1;
}

del {
    @extend %extend_1;
}

dfn {
    @extend %extend_1;
}

em {
    @extend %extend_1;
}

img {
    @extend %extend_1;
    width: 300px;
    height: 300px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 5px 7px 5px #2e4f5891;
    flex-direction: row;
}

ins {
    @extend %extend_1;
}

kbd {
    @extend %extend_1;
}

q {
    @extend %extend_1;
}

s {
    @extend %extend_1;
}

samp {
    @extend %extend_1;
}

small {
    @extend %extend_1;
}

strike {
    @extend %extend_1;
}

strong {
    @extend %extend_1;
}

sub {
    @extend %extend_1;
}

sup {
    @extend %extend_1;
}

tt {
    @extend %extend_1;
}

var {
    @extend %extend_1;
}

b {
    @extend %extend_1;
}

u {
    @extend %extend_1;
}

i {
    @extend %extend_1;
}

center {
    @extend %extend_1;
}

dl {
    @extend %extend_1;
}

dt {
    @extend %extend_1;
}

dd {
    @extend %extend_1;
}

ol {
    @extend %extend_1;
}

ul {
    @extend %extend_1;
}

li {
    @extend %extend_1;
}

fieldset {
    @extend %extend_1;
}

form {
    @extend %extend_1;
}

label {
    @extend %extend_1;
}

legend {
    @extend %extend_1;
}

table {
    @extend %extend_1;
}

caption {
    @extend %extend_1;
}

tbody {
    @extend %extend_1;
}

tfoot {
    @extend %extend_1;
}

thead {
    @extend %extend_1;
}

tr {
    @extend %extend_1;
}

th {
    @extend %extend_1;
}

td {
    @extend %extend_1;
}

article {
    @extend %extend_1;
}

aside {
    @extend %extend_1;
}

canvas {
    @extend %extend_1;
}

details {
    @extend %extend_1;
}

embed {
    @extend %extend_1;
}

figure {
    @extend %extend_1;
}

figcaption {
    @extend %extend_1;
}

footer {
    @extend %extend_1;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 5%;
    background-color: $color_nile_blue_approx;
}

header {
    @extend %extend_1;
    width: 100%;
}

hgroup {
    @extend %extend_1;
}

menu {
    @extend %extend_1;
}

nav {
    @extend %extend_1;
}

output {
    @extend %extend_1;
}

ruby {
    @extend %extend_1;
}

section {
    @extend %extend_1;
}

summary {
    @extend %extend_1;
}

time {
    @extend %extend_1;
}

mark {
    @extend %extend_1;
}

audio {
    @extend %extend_1;
}

video {
    @extend %extend_1;
}

.img-container {
    width: auto;
    height: 1000px;
    filter: blur(8%);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $url_0;
    background-attachment: fixed;
}

.introduction {
    width: 100%;
    height: 350px;
    margin: auto;
    color: $alice_blue;
    display: flex;
    flex-direction: column;
}

.nav-container {
    width: 100%;
    height: 70px;
    padding: 2% 0;
    background-color: $color_calypso_approx;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    width: 100%;
    height: 60px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        padding: 0 40px 20px 0;
        font-size: 1.25rem;
        text-decoration: none;
        //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
        transition-duration: .2s;
        display: flex;
        justify-content: center;
        &:hover {
            color: $color_hit_pink_approx;
        }
    }
}

.name {
    font-family: $font_2, $font_1;
    font-size: 3.5rem;
    margin: 0 10%;
    color: $color_hit_pink_approx;
    animation: name;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {
        top: -180px;
    }
    100% {
        top: 200px;
    }
}

.intro-title {
    color: $color_christine_approx;
    width: 400px;
    height: 80px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: $font_2, $font_1;
    font-size: 4rem;
    margin-left: 3%;
}

.intro-container {
    width: 400px;
    height: 250px;
    line-height: 1.5;
    color: $color_dew_approx;
    text-align: center;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    background-color: $color_calypso_approx;
    display: flex;
    justify-content: center;
    animation: title-content;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    .intro-text .intro-btn {
        margin-left: 25%;
    }
}

@keyframes title-content {
    0% {
        top: -180px;
    }
    100% {
        top: 200px;
    }
}

.intro-text {
    margin: 10%;
    text-align: left;
}

.bg-container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $url_1;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .box {
        position: relative;
        width: 300px;
        margin: 1.10%;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        //Instead of the line below you could use @include background-origin($origin)
        background-origin: border-box;
        display: inline-block;
        .img-box {
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: transform 2s;
            }
        }
        &:hover {
            .details {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: scaleY(1);
            }
            .img-box img {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: scale(1.2);
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 10px;
            }
        }
        .details {
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 10px;
            background: #35728ecc;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scaleY(0);
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: transform 1s;
            .content {
                position: absolute;
                top: 50%;
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: translateY(-50%);
                text-align: center;
                padding: 15px;
                color: $white;
                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 2rem;
                    color: $color_christine_approx;
                }
                p {
                    margin: 10px 0 0;
                    padding: 0;
                }
            }
        }
    }
}

.foot {
    display: flex;
    footer .footer-nav a {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
}

.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background-color: $white;
    font-size: 1.5rem;
    color: $color_christine_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 1s;
    &:hover {
        background-color: $color_christine_approx;
        color: $white;
    }
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(max-width: 960px) {
    .nav-container {
        padding: 2%;
        display: flex;
        justify-content: space-evenly;
    }
    a {
        margin: 2.5%;
        justify-content: space-around;
    }
    .display {
        margin: 5%;
    }
    img {
        flex-direction: column;
    }
    .name {
        margin: 0 35.5%;
    }
    .box {
        margin: 3%;
        flex-wrap: wrap;
    }
}

@media(max-width: 760px) {}