/* Add CSS styling here */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/*** intro ***/

header {
    width: 100%;
}

.img-container {
    width: auto;
    height: 1000px;
    filter: blur(8%);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img1.jpg);
    background-attachment: fixed;
}

.introduction {
    width: 100%;
    height: 350px;
    margin: auto;
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
}


/** nav-bar **/

a {
    color: #f0600c;
}

.nav-container {
    /* padding: 20px; */
    width: 100%;
    height: 70px;
    padding: 2% 0;
    background-color: #35728e;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar a {
    padding: 0 40px 20px 0;
    font-size: 1.25rem;
    text-decoration: none;
    transition-duration: .2s;
    display: flex;
    justify-content: center;
}

.nav-bar a:hover {
    color: #ffb88f;
}

.name {
    font-family: 'Advent Pro', sans-serif;
    font-size: 3.5rem;
    position: relative;
    margin: 0 10%;
    animation: name;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {
        top: -180px
    }
    100% {
        top: 200px
    }
}

.intro-title {
    color: #f0600c;
    width: 400px;
    height: 80px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: 'Advent Pro', sans-serif;
    font-size: 4rem;
    margin-left: 3%;
}

.intro-container {
    width: 400px;
    height: 250px;
    line-height: 1.5;
    color: #f0ffff;
    text-align: center;
    border-radius: 10px;
    background-color: #35728E;
    display: flex;
    justify-content: center;
    animation: title-content;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes title-content {
    0% {
        top: -180px
    }
    100% {
        top: 200px
    }
}

.intro-text {
    margin: 10%;
    text-align: left;
}

.display .intro-container .btn {
    align-items: center;
}


/** projects section style  **/

.bg-container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img2.jpg);
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.bg-container .box {
    position: relative;
    width: 300px;
    margin: 1.10%;
    border-radius: 10px;
    background-origin: border-box;
    display: inline-block;
}

.bg-container .box .img-box {
    position: relative;
    overflow: hidden;
}

.bg-container .box .img-box img {
    max-width: 100%;
    transition: transform 2s;
}

.bg-container .box:hover .img-box img {
    transform: scale(1.2);
    border-radius: 10px;
}

.bg-container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background: #35728ecc;
    transform: scaleY(0);
    transition: transform 1s;
}

.bg-container .box:hover .details {
    transform: scaleY(1);
}

.bg-container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.bg-container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #f0600c;
}

.bg-container .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
}

img {
    width: 300px;
    height: 300px;
    /* margin: 40px 20px; */
    border-radius: 10px;
    box-shadow: 5px 7px 5px #2e4f5891;
    flex-direction: row;
}


/** footer **/

.foot {
    /* margin: auto; */
    display: flex;
}

footer {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 5%;
    background-color: #14455c;
}

.foot footer .footer-nav a {
    margin: 0;
    padding: 1rem;
    text-align: center;
}


/**   button style  **/

.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 1.5rem;
    color: #f0600c;
    border-radius: 10px;
    transition: all 1s;
}

.btn:hover {
    background-color: #f0600c;
    color: #ffffff;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/** add media query below **/

@media(max-width: 960px) {
    .nav-container {
        padding: 2%;
        display: flex;
        justify-content: space-evenly;
    }
    a {
        margin: 2.5%;
        justify-content: space-around;
    }
    .display {
        margin: 5%;
    }
    img {
        flex-direction: column;
    }
    .name {
        margin: 0 35%;
    }
    .box {
        margin: 3%;
        flex-wrap: wrap;
    }
}

@media(max-width: 760px) {}